@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Dancing+Script&family=Licorice&family=Poppins&family=Roboto+Slab&family=Shadows+Into+Light&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
